* {
  margin: 0;
  padding: 0;
}

body {
  /* text-align: center; */
  padding: 2% 5%;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 16px;
}

.book-list .card-img-container {
  height: 300px; /* Set your desired image height */
  display: flex;
  align-items: center;
  justify-content: center;
}

.book-list .card-img-top {
  object-fit: contain; /* Maintain aspect ratio */
  max-height: 100%;
  max-width: 100%;
}
