{% extends 'base.html' %}

{% block body %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h1>{{ member.first_name }} {{ member.last_name }}</h1>
            <p><b>Username:</b> {{ member.username }}</p>
            <p><b>Email:</b> {{ member.email }}</p>
            <p><b>Location:</b> {{ member.location }}</p>
            <p><b>Date Added:</b> {{ member.date_added.strftime('%Y-%m-%d %H:%M') }}</p>
            <p><b>Last Updated:</b> {{ member.date_updated.strftime('%Y-%m-%d %H:%M') }}</p>
        </div>
        <div class="col-md-6">
            <h3>Borrowed Books</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Book Title</th>
                        <th>Due Date</th>
                        <th>Return</th>
                    </tr>
                </thead>
                <tbody>
                    {% for transaction in transactions %}
                    <tr>
                        <td>
                            <a href="/books/{{transaction.book.id}}">
                                {{ transaction.book.title }}
                            </a>
                        </td>
                        <td>{{ transaction.due_date }}</td>
                        <td>
                            <form method="post" action="/transactions/return">
                                <input type="hidden" name="member_id" value="{{ member.id }}">
                                <input type="hidden" name="book_id" value="{{ transaction.book.id }}">
                                <button type="submit" class="btn btn-danger btn-sm">Return</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p><b>Total Fine:</b> {{ total_fine }}</p>
        </div>
    </div>
</div>
{% endblock %}