{% extends 'base.html' %} {% block body %}
<div class="container">
    {% if members | length < 1 %} <div class="mt-5">
        <p>No Members have yet been added to the database.</p>
        <p>Click <a href="/members/add">here</a> to add a new member.</p>
</div>
{% else %}
<div class="row justify-content-center m-3">
    <div class="col-12 col-md-6">
        <form action="/members/search/" method="post" class="d-flex">
            <input type="text" name="query" class="form-control me-2" placeholder="Search Members." />
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
</div>

<div class="m-3 text-center">
    <a href="/members/add" class="btn btn-primary">Add New Member</a>
</div>

<div class="row">
    {% for member in members %}
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{member.first_name}} {{member.last_name}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{member.username}}</h6>
                <p class="card-text"><b>Email:</b> {{member.email}}</p>
                <p class="card-text">
                    <b>Date Added:</b> {{ member.date_added.strftime('%Y-%m-%d
                    %H:%M') }}
                </p>
                <p class="card-text">
                    <b>Last Updated:</b> {{ member.date_updated.strftime('%Y-%m-%d
                    %H:%M') }}
                </p>
                <p class="card-text"><b>Location:</b> {{member.location}}</p>
                <a href="/members/edit/{{member.id}}" class="card-link">Edit Member</a>
                <a href="/members/delete/{{member.id}}" class="card-link">Delete Member</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
</div>
{% endblock %}