<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BookArena</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <script defer src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  {% block head %} {% endblock %}
</head>

<body>
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="{{ url_for('static', filename='images/magicBook.jpg') }}" alt="" width="30" height="24"
          class="d-inline-block align-text-top">
        BookArena
      </a>
      <ul>
        <li>
          <a href="/books">Books</a>
        </li>
        <li>
          <a href="/members">Members</a>
        </li>
        <li>
          <a href="/transactions">Transactions</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="flash-messages container mt-3">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="list-unstyled mb-0">
      {% for message in messages %}
      <li class="alert alert-success alert-dismissible fade show mb-2" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
  </div>


  {% block body %} {% endblock %}

</body>

</html>