{% extends 'base.html' %}

{% block body %}

<h1>BookArena</h1>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">BOOKS</h5>
    <h6 class="card-subtitle mb-2 text-muted">Click to know book details</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
    </p>
    <a href="#" class="card-link">Card link</a>
    <a href="/books" class="card-link">Mange Books</a>
  </div>
</div>
{% endblock %}